*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: whitesmoke;
    text-align: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;

    
}
label{
    font-size: 1.4rem;
}

input{
    width: 25%;
    height: 50px;
    padding-left: 10px;
    font-size: 1.4rem;
    /* margin: 20px; */
    margin-top: 20px;
    margin-bottom: 2px;
    border-radius: 8px;
    border: 1px solid #080808;
    justify-content: center;
    align-content: center;
    letter-spacing: 0.097m;
    
}


button{
    height: 6vh;
    width: 15%;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgb(193, 193, 237);
    border-radius: 6px;
    margin-top: 20px;
    
}
button:hover{
    background: rgb(73, 73, 242);
    color: whitesmoke;
}
.error, .error1, .error2, .error3, .error4, .error5{
    color: red;
    font-size: 1.4rem;
}


select{
    margin-top: 30px;
    font-size: 1.6rem;

}